@model IEnumerable<MentoriaQuintaFeira2021.Domain.Entities.Produto>

@{
    ViewData["Title"] = "Index";
}

<h1>Produtos Cadastrados</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Cadastrar</a>
</p>

<script type="text/javascript">

    var contador = 0;

    function removerFiltro(id) {
        document.getElementById("filtro" + id).innerHTML = "";
    }

    function addFiltro() {

        contador++;

        var div = document.createElement("div");
        div.setAttribute("id", 'filtro' + contador);

        var html = `
          <div class="row"> 
            <div class="form-group col-4">
                <label>Pesquisar por</label>
                <select name="tipoPesquisa[]" id="tipoPesquisa${contador}" class="form-control">
                    <option value="1">Descrição</option>
                    <option value="2">Preço</option>
                    <option value="3">Categoria</option>
                    <option value="4">Quantidade</option>
                </select>
            </div>
            <div class="form-group col-7">
                <label>Digite</label>
                <input name="valor[]" id="valor${contador}" type="text" class="form-control" />
            </div>
            <div class="form-group col-1">
                <button onclick='removerFiltro(${contador})' type='button' class='btn btn-danger'style="margin-top: 30px">X</button>
            </div>
        </div>`;

        div.innerHTML = html;
       document.getElementById("campos-dinamicos").appendChild(div);

    }

</script>

<form method="post" asp-controller="Produtos" asp-action="Index">
    <div id="campos-dinamicos"></div>    
    <button type="button" onclick="addFiltro()" class="btn btn-outline-info">Add Filtro</button>
    <button class="btn btn-primary">Pesquisar</button>
</form>
<br />

@if (!string.IsNullOrEmpty(ViewBag.Erro))
{
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Ops!</strong> @ViewBag.Erro
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Detalhar</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
